.container {
  font-family: map(fonts, family-sans);
  font-size: 16px;
  display: block;
  position: relative;
}

.popup {
  background: #fff;
  border: 1px solid map(colors, neutral, ligtest);
  position: absolute;
  z-index: 1;
  max-width: 100%;
  width: 50em;
  height: inherit;
  margin: auto;
  top: 2em;
  left: 0;
  right: 0;
  padding: 2em;
  border-radius: .5em;

  & h2 {
    font-size: 1.5em;
    clear: both;
  }

  & p {
    font-size: 1em !important;
    line-height: 1.5;
  }

}

@media (max-width: 800px) {
  .container {
    min-height: 36em;
  }

  .popup {
    padding: 1em;
    top: 0;
    border-radius: 0;

    & h2 {
      font-size: 1.2em;
    }

    & p {
      font-size: .9em !important;
      line-height: 1.1;
    }
  }

}

.fondo {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
  transition: .2s;
}

.salir {
  float: right;
  background: map(colors,primary,base);
  color: white;
  border-radius: 2em;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  font-size: .8em;
  transition: .2s;
  margin-bottom: 1em;
}

.salir:hover {
  background-color: white;
  color: map(colors,primary,base);
  border-color: map(colors,primary,base);
}

.vermas {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  font-family: 'Lato', sans-serif;
  color: map(colors,primary,base);
}
