/* Hide the sidebar in historias */
.article-sidebar.col-md-4.col-lg-3 {
    display: none;
}

.field-item > p,
.img-container {
    max-width: 713px;
}

@media (min-width: 1200px) {
    .article-content.col-sm-12.col-md-8 {
        width: 85%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .article-content.col-md-8 {
        width: calc(100% - 20px) !important;
    }
}

.personaje {
    position: absolute;
    cursor: pointer;
}

.personaje.uno {
    left: 37%;
    top: 21%;
}

.personaje.dos {
    left: 50%;
    top: 29%;
}

.personaje.tres {
    left: 29%;
    top: 37%;
}

.personaje.cua {
    left: 34%;
    top: 70%;
}

.personaje.cin {
    left: 22%;
    top: 51%;
}

.cont_circulos {
    position: relative;
    width: 100%;
    clear: both;
}

.conten {
    width: 100%;
    position: absolute;
    visibility: visible;
    line-height: 1.2em;
}

.climpiar {
    clear: both;
    height: 1px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.punto {
    position: absolute;
    width: 1em;
    height: 1em;
    border: 2px solid #000;
    border-radius: 800px;
    top: 0px;
}

.punto a {
    width: 20%;
    height: 20%;
    display: block;
    text-align: center;
    margin-left: 29%;
}

.punto span {
    margin-left: 1.3em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.1em;
}

.punto span:hover {
    font-size: 1.5em;
    margin-left: .9em;
    transition: .2s;
}

.inv {
    display: none;
}

.left {
    float: left;
    margin-right: 10px;
    text-align: right;
}

.right {
    float: right;
    margin-left: 10px;
    text-align: left;
}

.color1 {
    background-color: white!important;
}

.background-img {
    width: 100%;
    height: auto;
}